[user]
	useConfigOnly = true
	email = tech@anubhav.digital
	name = Anubhav Y
	signingkey = ~/.ssh/id_rsa.pub
[pull]
	rebase = true
[core]
	excludesfile = "~/.gitignore"
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

