[user]
	signingKey = ""
	useConfigOnly = true
	email = contact+code@anubhav.codes
	name = Anubhav Y
[pull]
	rebase = true
[core]
	excludesfile = "~/.gitignore"
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
